p {
  margin: 0;
}

.dorpdown-container {
  color: white;
  cursor: pointer;
  position: relative;
}

.dorpdown-text {
  padding-bottom: 8px;
}

.dropdown-menu {
  gap: 8px;
  color: black;
  width: fit-content;
  margin: 0;
  display: flex;
  padding: 16px;
  list-style: none;
  border-radius: 8px;
  flex-direction: column;
  background-color: white;
  position: absolute;
  right: 10px;
  white-space: nowrap;
}

.dropdown-menu li {
  text-align: left;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: rgb(215, 215, 215);
}
